:root {
  /* Theme independent */
  --brand-orange: #ff7b26;
  --orange: #ff7b26;
  --orange-opacity35: rgba(255, 123, 38, 0.35);
  --green: #008000;
  --blue: #175ef8;
  --blue-variant: #0e44b8;
  --red: #fd2b2b;
  --red-opacity75: rgba(253, 43, 43, 0.75);
  --dark-red-text: #d84a12;
  --white-text: #fff;

  --switch-border: #808080;
  --notice-border: rgba(253, 221, 43, 0.5);
  --warning-text: #fff;
  --warning-icon-filter: brightness(0) invert(1);

  --modal-overlay: rgba(0, 0, 0, 0.65);
  --header-hover-darken: rgba(0, 0, 0, 0.1);

  --large-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --large-shadow-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  --input-focus-shadow: 0 0 0 3px var(--orange-opacity35);
  --fullscreen-popup-shadow: 0 -1px 7px rgba(0, 0, 0, 0.2);

  --placeholder-text: #777;

  /* Light mode */
  --brand-orange-min-font-weight: 500;
  --green-text: var(--green);
  --blue-text: #175ef8;

  --page-background: #fcfcfc;
  --content-background: #f7f7f7;
  --navigation-background: #ecebeb;
  --search-toolbar-background: #fcfcfc;
  --button-background: #ecebeb;
  --button-hover-background: #d4d3d3;
  --input-background: #fff;
  --search-input-background: #f0f0f0;
  --switch-inner-background: var(--content-text);
  --tooltip-background: #ecebeb;
  --comment-background: #f0f0f0;
  --unread-comment-background: #fff;
  --notice-background: rgba(253, 221, 43, 0.25);
  --notice-text: #222;
  --notice-icon-filter: none;
  --warning-background: var(--red);
  --warning-border: #d81212;
  --info-border: var(--content-border);
  --update-background: rgba(177, 23, 248, 0.1);
  --update-border: rgba(177, 23, 248, 0.2);
  --update-text: #222;

  --hover-highlight: rgba(0, 0, 0, 0.05);
  --hover-highlight-reduced: rgba(0, 0, 0, 0.02);
  --hover-darken: var(--hover-highlight);

  --content-border: #cfcfcf;
  --content-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --content-separator: #aaa;
  --control-border: #aaa;

  --content-text: #222;
  --content-icon-filter: brightness(0);
  --description-text: #444;
  --description-icon-filter: brightness(0) invert(0.27);
  --label-text: #555;
  --gray-text: #a1a1a1;
}

html[data-theme="dark"] {
  color-scheme: dark;

  --brand-orange-min-font-weight: normal;
  --green-text: #53b31c;
  --blue-text: #1aa0d8;

  --page-background: #222;
  --content-background: #2a2a2a;
  --navigation-background: #333;
  --search-toolbar-background: #2a2a2a;
  --button-background: #222;
  --button-hover-background: #1a1a1a;
  --input-background: #222;
  --search-input-background: #111;
  --switch-inner-background: #eee;
  --tooltip-background: #000;
  --comment-background: #222;
  --unread-comment-background: #000;
  --notice-background: var(--navigation-background);
  --notice-text: #fff;
  --notice-icon-filter: brightness(0) invert(1);
  --warning-background: var(--red-opacity75);
  --warning-border: var(--red);
  --info-border: var(--content-separator);
  --update-background: var(--navigation-background);
  --update-border: rgba(177, 23, 248, 0.75);
  --update-text: #fff;

  --hover-highlight: rgba(255, 255, 255, 0.05);
  --hover-highlight-reduced: rgba(255, 255, 255, 0.02);
  --hover-darken: rgba(0, 0, 0, 0.1);

  --content-border: #333;
  --content-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  --content-separator: #808080;
  --control-border: #000;

  --content-text: #fff;
  --content-icon-filter: brightness(0) invert(1);
  --description-text: #ddd;
  --description-icon-filter: brightness(0) invert(0.87);
  --label-text: #aaa;
  --gray-text: #808080;
}
