@import "./colors.css";
@import "./roboto.css";
@import "./sora.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--page-background);
  color: var(--text);
  font-size: 1rem;
  margin: 0;
}

h1 {
  font-family: "Sora", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}

nav {
  user-select: none;
  color: white;
  background-color: var(--brand);
  height: 3.5rem;
  display: flex;
  align-items: center;
}

nav.shadow {
  box-shadow: var(--large-shadow);
}

#app {
  display: flex;
  flex-direction: column;
}

.header-button {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  user-select: none;
}

.header-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-button > img {
  height: 50%;
}

.logo {
  height: 50%;
  margin-inline: 1rem;
}
