@import "./colors.css";

body {
  background-color: var(--page-background);
  color: var(--text);
  margin: 0;
  font-size: 14px;
}

h1 {
  font-size: 18px;
}

nav {
  color: var(--white-text);
  background-color: var(--brand);
  height: 60px;
  display: flex;
  align-items: center;
}
